.box1  {
	background:none repeat scroll 0 0 #FFFFFF;
	border:1px solid #EBEBEB;
	display:inline;
	margin-bottom:20px;
	margin-right:10px;
	padding:10px;
	text-align:center;
	width:80px;
}
.box2 {
	background:none repeat scroll 0 0 #FFFFFF;
	border:1px solid #EBEBEB;
	margin-bottom:20px;
	margin-right:10px;
	padding:10px;
	text-align:center;
	width:120px;
}
.floatleft {
	float:left;
}
